<!DOCTYPE html>
<html>
  <head>
    <title>Mercado Liebre</title>
    <meta charset='uft-8'>
    <link rel="stylesheet" href="styles/style_ml.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  </head>

<body>
  <header>  
    <div class="d-flex flex-row align-c">
      <img class="w-50 margin-14" src="images/logo-mercado-liebre.svg">
      <input class="w-50 search-b " type="text" name="barradebusqueda" placeholder="Buscar productos, marcas">
      <button class="search-b"><i class="fas fa-search"></i></button>
    </div>
  
    <div> 
     <p class="compraen"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.</p>
    </div>
  
    <nav class="navegador d-flex justify-center"> 
     <div class= "hamburger-container">
      <i class="fas fa-bars"></i>
     
     <ul class="links">
       <li><a href="#">Ofertas</a></li>
       <li><a href="#">Tiendas Oficiales</a></li>
       <li><a href="#">Vender</a></li>
       <li><a href="#">Ayuda</a></li>
       <br>
       <li><a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
       <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
       <li><a href="/miscompras">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
       </ul>
     </div>  
    </nav>
 </header>

 <main>
  <form action="//localhost:4040" method="GET">

  <div>
    <label for= "nombreusuario"></label>
    <input class="login" type="text" id="nombreusuario" name="nombreusuario" placeholder="Nombre de usuario">
   </div>

   <div>
    <label for= "password"></label>
    <input class="login" type="password" id="password" name="password" placeholder="Elegí tu contaseña">
  </div>
  
   <div>
    <button class="enviar" type="submit">Enviar</button>
   </div>  
  
 </main>

 <footer class="piedepagina d-flex flex-column centro">
  <article class="artpie">
    <i class="fas fa-credit-card logoazul"></i> 
    <p class="titulopie">Pagá con tarjeta o en efectivo</p>
    <p class="parrafospie">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
  </article>

  <article class="artpie">
    <i class="fas fa-gift logoazul"></i>
    <p class="titulopie">Envío gratis desde los $ 2.500</p>
    <p class="parrafospie">Solo por estar registrado en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
  </article>

  <article class="artpie">
    <i class="fas fa-user-shield logoazul"></i>
    <p class="titulopie">Seguridad, de principio a fin</p>
    <p class="parrafospie">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
  </article>

  <div class="parrafospie "artpie"">Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
  
</footer>

</body>
</html>
